@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

body {
  box-sizing: border-box;
  color: #212121;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.ctapp {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header div {
  margin: 1rem 0;
}

label {
  display: block;
  color: #f57c00;
  font-weight: 300;
}

input {
  position: relative;
  margin: 0;
  padding: 1rem;
  height: 4rem;
  font-size: 1.6rem;
  line-height: 1.5em;
  outline: none;
  vertical-align: baseline;
  border: 1px solid #999;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.title {
  display: block;
  width: 100%;
  margin: 1rem 0;
  color: #ffe0b2;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
}

.food-name-input {
  position: relative;
}

.item-calorie {
  padding: 1rem 0;
  display: inline-block;
}

.new-food-name {
  width: 100%;
}

.new-food-calorie {
  width: 10rem;
}

.calorie-unit {
  margin: 0 0 0 0.5rem;
}

.new-food-quantity {
  width: 10rem;
}

.serving-size-unit {
  margin: 0 0 0 0.5rem;
}

.invalid {
  border: 1px solid #f00;
}

.error-message {
  color: #f00;
  margin: 0.5rem 0 0 0;
}

.ui-autocomplete {
  background-color: #fff;
  width: 100%;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 5px 10px 10px 0px rgba(214,214,214,1);
  -moz-box-shadow: 5px 10px 10px 0px rgba(214,214,214,1);
  box-shadow: 5px 10px 10px 0px rgba(214,214,214,1);
}

.ui-menu-item {
  padding: 0.2rem;
  border-top: 1px solid #e6e6e6;
  line-height: 3rem;
  height: 3rem;
}

.ui-menu-item a {
  color: #555;
  padding: 0.2rem 1rem;
}

.ui-state-hover,
.ui-widget-content
.ui-state-hover,
.ui-widget-header
.ui-state-hover,
.ui-state-focus,
.ui-widget-content
.ui-state-focus,
.ui-widget-header
.ui-state-focus {
    background-color: #ff9800;
    border: none;
    color:#fff;
    border-radius:0;
    font-weight: 300;
    text-decoration: none;
}

.add-food {
  display: block;
  width: 10rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #999;
  outline: none;
  background: none;
  vertical-align: baseline;
  font-weight: 500;
  color: #ff9800;
  -webkit-box-shadow: 2px 2px 1px rgba(214,214,214,1);
  -moz-box-shadow: 2px 2px 1px rgba(214,214,214,1);
  box-shadow: 2px 2px 1px rgba(214,214,214,1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.add-food:hover {
  cursor: pointer;
  background-color: #ffe0b2;
  color: #f57c00;
}

/* Main */

.main {
  position: relative;
}

.table-header {
  display: none;
  color: #b6b6b6;
  text-align: center;
  font-weight: 300;
  height: 3rem;
  line-height: 2rem;
  padding: 10px 10px;
  border: none;
}

.table-number {
  text-align: right;
}

.food-list {
}

.food-list li {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.food-list li:nth-child(2n+1) {
  background-color: #e6e6e6;
}

.destroy {
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.destroy:hover {
  color: #ff9800;
}

/* Footer */

footer {
  color: #ff9800;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

footer > div {
  padding: 10px;
}

