<!DOCTYPE html>
<html>
<head>
  <title>Calorie Tracker</title>
  <meta charset="utf=8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section class="ctapp">
    <header class="header">
      <h1>Calorie Tracker</h1>
      <input class="new-food-name" placeholder="Type in the food name" autofocus>
      <input class="new-food-amount" placeholder="Amount (g)">
      <input class="new-food-calorie" placeholder="Calorie">
      <ul class="search-results"></ul>
    </header>

    <section class="main">
      <ul class="food-list">
      </ul>
    </section>

    <footer class="footer">
    </footer>
  </section>

  <script type="text/template" id="food-item-template">
    <div class="view">
      <button class="destroy"></button>
      <span class="food-name"><%= name %></span>
      <span class="food-amount"><%= amount %></span>
      <span class="food-calorie"><%= caloriePerUnit %></span>
      <span class="food-total-calorie"><%= totalCalorie %></span>
    </div>
    <input class="edit-food-amount" value="<%= amount %>">
  </script>

  <script type="text/template" id="total-calories">
    <span class="total-caloties"><%= totalCalories %></span>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
  <script src="js/models/food.js"></script>
  <script src="js/collections/foodlist.js"></script>
  <script src="js/views/fooditems.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>