<!DOCTYPE html>
<html>
<head>
  <title>Calorie Tracker</title>
  <meta charset="utf=8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section class="ctapp container-fluid">
    <header class="header row">
      <h1 class="title col-xs-12">Calorie Tracker</h1>
      <div class="food-name-input col-xs-12">
        <label>Food name</label>
        <input id="autocomplete" class="new-food-name" placeholder="Type in food name" autofocus>
      </div>
      <div class="food-calorie-input col-xs-3">
        <label>Calorie</label>
        <input class="new-food-calorie" placeholder="Calorie">
        <span class="calorie-unit">(kcal)</span>
      </div>
      <div class="food-quantity-input col-xs-6">
        <label>Quantity</label>
        <input class="new-food-quantity" placeholder="Quantity">
        <span class="serving-size-unit">Unit</span>
      </div>
      <div class="food-total-calories col-xs-3">
        <label>Total calorie</label>
        <span class="item-calorie">-</span> (kcal)
      </div>
      <div class="food-add-input col-xs-12">
        <div class="error-message"></div>
        <button class="add-food" type="button">Add</button>
      </div>
    </header>

    <section class="main">
      <ul class="food-list">
        <li class="table-header">
          <div class="row">
            <div class="col-xs-7">Food name</div>
            <div class="col-xs-1 table-number">Quantity</div>
            <div class="col-xs-2 table-number">Unit calorie</div>
            <div class="col-xs-2 table-number">Total calorie</div>
          </div>
        </li>
      </ul>
    </section>

    <footer class="footer">
    </footer>
  </section>

  <script type="text/template" id="food-item-template">
    <div class="view row">
      <div class="col-xs-7">
        <button class="destroy"><i class="icon-remove-sign"></i></button>
        <span class="food-name"><%= name %></span>
      </div>
      <div class="col-xs-1 table-number">
        <span class="food-quantity"><%= quantity %></span>
      </div>
      <div class="col-xs-2 table-number">
        <span class="food-calorie"><%= caloriePerUnit %></span>
      </div>
      <div class="col-xs-2 table-number">
        <span class="food-total-calorie"><%= itemCalorie %></span>
      </div>
    </div>
  </script>

  <script type="text/template" id="total-calories">
    <div class="row">
      <div class="col-xs-10">
        <span>Total calories (kcal)</span>
      </div>
      <div class="col-xs-2 table-number">
        <span class="total-caloties"><%= totalCalories %></span>
      </div>
    </div>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
  <script src="js/models/food.js"></script>
  <script src="js/collections/foodlist.js"></script>
  <script src="js/views/fooditems.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/app.js"></script>
</body>
</html>